[Unit]
Description=Cyrus-imapd IMAP/POP3 email server
After=local-fs.target network.target

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/cyrus-imapd
#ExecStartPre=/usr/lib/cyrus-imapd/cyr_systemd_helper start
ExecStart=/usr/lib/cyrus-imapd/cyrus-master $CYRUSOPTIONS
ExecStopPost=/usr/lib/cyrus-imapd/cyr_systemd_helper stop
PrivateTmp=true

[Install]
WantedBy=multi-user.target
